@model UpdateServiceVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Service</h4>

            <form method="post" class="forms-sample">

                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Icon">Icon</label>
                    <input asp-for="Icon" class="form-control" placeholder="Icon">
                    <span class="text-danger" asp-validation-for="Icon"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.ServiceCategories,nameof(ServiceCategory.Id),nameof(ServiceCategory.Name)))">
                        >
                        <option selected disabled>Choose Category</option>
                    </select>
                    <span class="text-danger" asp-validation-for="CategoryId"></span>
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button asp-action="index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>