@section links{
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css" />
}  
 
<!-- hs About Title Start -->
    <div class="hs_indx_title_main_wrapper">
        <div class="hs_title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_left_wrapper">
                        <h2>Our Shop</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_right_wrapper">
                        <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Our Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs About Title End -->
    <!-- hs sidebar Start -->
    <div class="hs_blog_categories_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 visible-lg visible-md">
                    <div class="hs_blog_right_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_blog_right_search_wrapper">
                                    <input type="text" placeholder="Products Search..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_blog_right_cate_list_heading_wrapper">
                                    <h2>TOP CATEGORIES</h2>
                                </div>
                                <div class="hs_blog_right_cate_list_cont_wrapper">
                                    <ul>
                                        <li><a href="#">Yantra</a></li>
                                        <li><a href="#">Gemstone</a></li>
                                        <li><a href="#">Books</a></li>
                                        <li><a href="#">Workshop DVD</a></li>
                                        <li><a href="#">Pendal</a></li>
                                        <li><a href="#">Puja Accessories</a></li>
                                        <li><a href="#">Religion Spiritual Gems Stones</a></li>
                                        <li><a href="#">Feng Shui Products</a></li>
                                        <li><a href="#">Lucky Stones</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_blog_right_cate_list_heading_wrapper">
                                    <h2>New Products</h2>
                                </div>
                                <div class="hs_blog_right_cate_list_cont_wrapper">
                                    <ul>
                                        <li><a href="#">Lucky Bag</a></li>
                                        <li><a href="#">Numerology Kavach Ring</a></li>
                                        <li><a href="#">Pyramids</a></li>
                                        <li><a href="#">Puja Services</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_right_first_sec_wrapper2">
                                    <div class="hs_kd_right_first_sec_heading">
                                        <h2>Black magic</h2>
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_heading">
                                        <img src="~/assets/images/content/kundali/patrika3.jpg" alt="patrika" />
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_price_heading">
                                        <ul>
                                            <li>Kundli Patrika</li>
                                            <li>$26</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="hs_blog_left_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_shop_tabs_sec_wrapper">
                                    <ul class="nav nav-pills">
                                        <li class="active"><a data-toggle="pill" href="#home">Products</a></li>
                                        <li><a data-toggle="pill" href="#menu1">Softwares</a></li>
                                        <li><a data-toggle="pill" href="#menu2">Books</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_shop_tabs_cont_sec_wrapper">
                                    <div class="tab-content">
                                        <div id="home" class="tab-pane fade in active">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="hs_kd_first_sec_wrapper">
                                                        <h2>390+ Produts Search</h2>
                                                        <h4><span></span></h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="hs_kd_first_sec_cont_wrapper">
                                                        <ul>
                                                            <li>Sort by - <a href="#">Popularity</a></li>
                                                            <li>Price - <a href="#">High to Low</a></li>
                                                            <li>Date by - <a href="#">Newest First</a></li>
                                                        </ul>
                                                        <p class="hidden-xs">Pages : <span>1-12</span> of 390</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp1.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Gemstone</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp2.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp3.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp4.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp5.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Rudrasha Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp6.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Navha yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp7.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Vastu Tree</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp8.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Antique coin</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp9.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Navha yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md">
                                                    <div class="pager_wrapper">
                                                        <ul class="pagination">
                                                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                                            <li class="btc_shop_pagi"><a href="#">01</a></li>
                                                            <li class="btc_shop_pagi"><a href="#">02</a></li>
                                                            <li class="btc_third_pegi btc_shop_pagi"><a href="#">03</a></li>
                                                            <li class="hidden-xs btc_shop_pagi"><a href="#">04</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="menu1" class="tab-pane fade">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="hs_kd_first_sec_wrapper">
                                                        <h2>390+ Produts Search</h2>
                                                        <h4><span></span></h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="hs_kd_first_sec_cont_wrapper">
                                                        <ul>
                                                            <li>Sort by - <a href="#">Popularity</a></li>
                                                            <li>Price - <a href="#">High to Low</a></li>
                                                            <li>Date by - <a href="#">Newest First</a></li>
                                                        </ul>
                                                        <p>Pages : <span>1-12</span> of 390</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp1.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Gemstone</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp2.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp3.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp4.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp5.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Rudrasha Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp6.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Navha yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp7.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Vastu Tree</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp8.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Antique coin</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp9.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Navha yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md">
                                                    <div class="pager_wrapper">
                                                        <ul class="pagination">
                                                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                                            <li class="btc_shop_pagi"><a href="#">01</a></li>
                                                            <li class="btc_shop_pagi"><a href="#">02</a></li>
                                                            <li class="btc_third_pegi btc_shop_pagi"><a href="#">03</a></li>
                                                            <li class="hidden-xs btc_shop_pagi"><a href="#">04</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="menu2" class="tab-pane fade">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="hs_kd_first_sec_wrapper">
                                                        <h2>390+ Produts Search</h2>
                                                        <h4><span></span></h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="hs_kd_first_sec_cont_wrapper">
                                                        <ul>
                                                            <li>Sort by - <a href="#">Popularity</a></li>
                                                            <li>Price - <a href="#">High to Low</a></li>
                                                            <li>Date by - <a href="#">Newest First</a></li>
                                                        </ul>
                                                        <p>Pages : <span>1-12</span> of 390</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp1.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Gemstone</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp2.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp3.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp4.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp5.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Rudrasha Yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp6.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Navha yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp7.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Vastu Tree</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp8.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Antique coin</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper">
                                                            <img src="~/assets/images/content/shop/sp9.jpg" alt="shop_product">
                                                            <a href="#">Add to Cart</a>
                                                        </div>
                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a href="#">Navha yantra</a></h2>
                                                            <h3>$20 &nbsp;<del>$80</del>&nbsp; <span>(60% off)</span></h3>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <h4>Offers <span>Special Price</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md">
                                                    <div class="pager_wrapper">
                                                        <ul class="pagination">
                                                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                                            <li class="btc_shop_pagi"><a href="#">01</a></li>
                                                            <li class="btc_shop_pagi"><a href="#">02</a></li>
                                                            <li class="btc_third_pegi btc_shop_pagi"><a href="#">03</a></li>
                                                            <li class="hidden-xs btc_shop_pagi"><a href="#">04</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 visible-sm visible-xs">
                    <div class="hs_blog_right_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_blog_right_search_wrapper">
                                    <input type="text" placeholder="Products Search..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_blog_right_cate_list_heading_wrapper">
                                    <h2>TOP CATEGORIES</h2>
                                </div>
                                <div class="hs_blog_right_cate_list_cont_wrapper">
                                    <ul>
                                        <li><a href="#">Yantra</a></li>
                                        <li><a href="#">Gemstone</a></li>
                                        <li><a href="#">Books</a></li>
                                        <li><a href="#">Workshop DVD</a></li>
                                        <li><a href="#">Pendal</a></li>
                                        <li><a href="#">Puja Accessories</a></li>
                                        <li><a href="#">Religion Spiritual Gems Stones</a></li>
                                        <li><a href="#">Feng Shui Products</a></li>
                                        <li><a href="#">Lucky Stones</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_blog_right_cate_list_heading_wrapper">
                                    <h2>New Products</h2>
                                </div>
                                <div class="hs_blog_right_cate_list_cont_wrapper">
                                    <ul>
                                        <li><a href="#">Lucky Bag</a></li>
                                        <li><a href="#">Numerology Kavach Ring</a></li>
                                        <li><a href="#">Pyramids</a></li>
                                        <li><a href="#">Puja Services</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_right_first_sec_wrapper2">
                                    <div class="hs_kd_right_first_sec_heading">
                                        <h2>Black magic</h2>
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_heading">
                                        <img src="~/assets/images/content/kundali/patrika3.jpg" alt="patrika" />
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_price_heading">
                                        <ul>
                                            <li>Kundli Patrika</li>
                                            <li>$26</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs">
                                <div class="pager_wrapper">
                                    <ul class="pagination">
                                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="btc_shop_pagi"><a href="#">01</a></li>
                                        <li class="btc_shop_pagi"><a href="#">02</a></li>
                                        <li class="btc_third_pegi btc_shop_pagi"><a href="#">03</a></li>
                                        <li class="hidden-xs btc_shop_pagi"><a href="#">04</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs sidebar End -->

