@model AboutUsVM

<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>About Us</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs about ind wrapper Start -->
<div class="hs_about_indx_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>About <span>Horoscope</span></h2>
                        <h4><span></span></h4>
                        <p>Horoscopes are a fascinating way to explore how the alignment of the stars and planets at the time of your birth can influence your personality, behavior, and life path. Rooted in ancient astrology, horoscopes offer insights into your emotional tendencies, strengths, challenges, and even your future.</p>
                    </div>
                </div>
            </div>

            @foreach (AboutUs aboutUs in Model.AboutUs)
            {
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_left_img_wrapper">
                        <img src="~/assets/images/content/@aboutUs.Image" alt="about_img" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_right_cont_wrapper">
                        <h2>@aboutUs.Title</h2>
                        <p>
                            @aboutUs.Description
                        </p>
                        <h3>Contact Us</h3>
                        <h1>@Model.ContactNumber</h1>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- hs about ind wrapper End -->
<!-- hs service wrapper Start -->
@await Component.InvokeAsync("Service", new { categoryId = (int?)ViewData["SelectedCategoryId"] })
<!-- hs service wrapper End -->
<!-- hs subscruption wrapper Start -->
@await Component.InvokeAsync("Subscription", new { categoryId = (int?)ViewData["SelectedCategoryId"] })
<!-- hs subscruption wrapper End -->
