@{
    Layout = null;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<style>
    body {
        background-color: #331847;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        color: #f0e6ff;
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .message-box {
        background: rgba(255, 255, 255, 0.1);
        padding: 40px 40px;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        max-width: 400px;
        width: 100%;
    }

    h2 {
        margin-bottom: 20px;
        color: #f0e6ff;
        font-weight: 600;
        font-size: 28px;
    }

    p {
        font-size: 16px;
        margin-bottom: 30px;
        color: #dcd0ff;
    }

    a.btn {
        display: inline-block;
        padding: 12px 30px;
        background-color: rgba(173, 128, 191, 0.47);
        color: white;
        font-weight: 700;
        font-size: 16px;
        border-radius: 4px;
        text-decoration: none;
        box-shadow: 0 4px 8px rgba(155, 89, 182, 0.4);
        transition: background-color 0.3s ease;
    }

        a.btn:hover {
            background-color: #7D3C98;
        }
</style>

<div class="message-box">
    <h2>Password Reset Successful</h2>
    <p>The stars are smiling on you! Your password has been successfully reset.Now you can log in with your new password and return to the world of secrets.</p>
    <a href="/Account/Login" class="btn">Go to Login</a>
</div>
