@model UpdateFeatureValueVM

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Update Feature Value</h4>

        <form method="post" class="forms-sample">
            <input type="hidden" asp-for="FeatureId" />

            <div class="form-group">
                <label asp-for="Value">Value</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FeatureId">Feature</label>
                <select asp-for="FeatureId" class="form-control"
                        asp-items="@(new SelectList(Model.Features, "Id", "Name", Model.FeatureId))">
                    <option value="">Choose Feature</option>
                </select>
                <span asp-validation-for="FeatureId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
